@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    --main-color: #2C674F;
    --secondary-color: #F0F8EB;
    --background-color: #D8E9CF;
    --background-menu-color: #dff1d6;
    --text-color: #18432B;
    --review-background-color: #f0f8ec;
    --input-focus-color: rgba(104, 172, 140, 0.171);
}

body {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar{
    width: 0.48vw;
}

::-webkit-scrollbar-track{
    border-radius: 0;
    box-shadow: inset 0 0 0.5px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
    border-radius: 0;
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* text-align: justify; */
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

hr {
    /* border-top: 1px solid green !important; */
    color: black;
    height: 5px !important;
    width: 80px;
    opacity: 1 !important;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------ */

.container-header {
    width: auto;
    display: flex;
    /* justify-content: flex-end; */
    position: sticky;
    padding: 10px 30px;
    vertical-align: middle;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: var(--main-color);    
}

.top {
    /* position: sticky; */
    /* top: 0; */
    z-index: 1;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.item-header {
    margin: 20px 10px 0 10px;
}

.item-header span {
    /* vertical-align: middle;
    align-items: center; */
    padding: 10px 30px;
}

.active span {
    background-color: var(--main-color);
    border-radius: 100px;
    color: var(--review-background-color);
}

.item-header span:hover {
    background-color: var(--main-color);
    border-radius: 100px;
    color: var(--review-background-color);
    transition: 0.3s;
}

.logo {
    width: 100%;
}

.logo img {
    width: 75px;
}

.search img {
    width: 25px;
}

.container-hero {
  	/* width: 1280px; */
  	width: 100%;
    height: auto;
  	margin: auto;
  	/* padding: 10px; */
  	align-items: center;
    background-color: var(--secondary-color);
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: luminosity;
    /* opacity: 0.5; */
    margin-top: -125px;
    /* margin-left: -10px; */
}

.container {
  	width: 100%;
    height: auto;
  	margin: auto;
  	align-items: center;
}

.row {
	display: flex;
    flex-wrap: wrap;
	align-items: center;
	/* padding: 10% 0; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 30%;
  /* margin: 20px; */
  /* padding: 10px; */
  overflow: auto;
  /* background-color: aqua; */
  flex-grow: 1;
}

.hero-img {
    height: 790px;
    /* width: 30%; */
    /* width: 85vh; */
    width: 40%;
    overflow: visible;
    
    background-image: url(../img/hero_1_debug.svg);
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: 0 0;

    animation: hero-image 12s infinite;
}

.hero-img img {
    height: 96%;
}

@keyframes hero-image {
    0% {
        background-image: url(../img/hero_1_debug.svg);
    }
    25% {
        background-image: url(../img/hero_1_debug.svg);
    }
    30% {
        background-image: url(../img/hero_2.svg);
    }
    50% {
        background-image: url(../img/hero_2.svg);
    }
    55% {
        background-image: url(../img/hero_3.png);
    }
    75% {
        background-image: url(../img/hero_3.png);
    }
    80% {
        background-image: url(../img/hero_4.svg);
    }
    90% {
        background-image: url(../img/hero_4.svg);
    }
    100% {
        background-image: url(../img/hero_1_debug.svg);
    }
}

.hero-text {
    padding: 0 30vh 0 15vh;
    color: var(--text-color);
}

.hero-text h1 {
    font-style: italic;
    margin-bottom: 15px;
    font-size: 44px;
}

.hero-text p {
    word-spacing: 10px;
    line-height: 30px;
}

.menu-header {
    height: auto;
    background-image: url(../img/rectangle_menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100px;
    z-index: 0;
}

.menu-header h2 {
    text-align: center;
    z-index: 1;
    line-height: 95px;
    margin: auto;
    vertical-align: middle;

    color: white;
    font-weight: 300;
    word-spacing: 6px;
    letter-spacing: 4px;
    font-size: 30px;
    font-style: italic;
}

/*Responsive*/
@media screen and (max-width: 1308px) {
	.container {
		width: auto;
	}
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.menu {
    /* background-color: coral; */
    padding: 30px 70px;
    text-align: center;
    align-items: center;

    background-color: var(--secondary-color);
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: luminosity;
}

.item-menu {
    display: inline-flex;
    align-items: center;
    background-color: var(--secondary-color);
    justify-content: center;
    width: 50%;
    padding: 15px;

    border: var(--main-color) solid 3px;
    border-radius: 50px;

    margin-bottom: 10px;
}

.item-menu:hover {
    background-color: var(--background-menu-color);
}

.item-menu img {
    width: 50px;
    margin-right: 10px;
    margin-top: -4px;
}

.item-menu h4 {
    font-weight: 400;
    font-size: 30px;
    color: var(--text-color);
}

.btn-order {
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0 50px 0;
}

.btn-order h3 {
    color: white;
    size: 26px;
    font-weight: 600;
    font-style: italic;
}

.btn-order:hover {
    background-color: var(--text-color);
}

.footer {
    background-color: var(--main-color);
    /* line-height: 200px; */
    text-align: center;
    align-items: center;
    vertical-align: middle;
    color: white;
    margin: auto;
    padding: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}


.footer .footer-instagram {
    width: 30px;
    margin: 25px;
}

.footer-copyright {
    margin-top: 25px;
}


.footer .logo-bottom {
    position: absolute;
    right: 0;
    width: 50px;
    margin-top: -50px;
    padding-right: 35px;
}

.reservasi-title {
    text-align: center;
    color: var(--main-color);
    margin-top: -200px;
    padding-top: 215px;
    padding-bottom: 200px;
    background-color: var(--secondary-color);
    background-image: url(../img/background.png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: left 00px;
    background-blend-mode: luminosity;
}

.reservasi-table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.reservasi-table {
    width: 60%;
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
}

.reservasi-form-label {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
}

#note-label {
    vertical-align: top;
    padding-top: 5px;
}

.reservasi-form-submit {
    text-align: end;
}

table,
th,
td {
    /* border: 1px solid black; */
}

table {
    border-spacing: 15px;
}

textarea {
    resize: none;
}

input, textarea#note {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    /* font-size: 16px; */
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    height: 50px;
}

input:focus,
textarea#note:focus {
    outline: none;
    box-shadow: 0 0 7px 3px var(--input-focus-color);
}

textarea#note {
    height: 150px;
}

input[type="date"] {
    width: 280px;
}

input[type="text"] {
    width: 280px;
}

input[type="submit"] {
    background-color: var(--main-color);
    font-weight: 600;
    color: white;
    width: 150px;
    height: 45px;
}

input[type="submit"]:hover {
    background-color: var(--text-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    /* background: url(yourURLHere) no-repeat; */
    width: 25px;
    height: 25px;
    border-width: thin;
}

/* ------------------------------------------ */

.menu-title {
    text-align: center;
    color: var(--main-color);
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--secondary-color);
    background-image: url(../img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: luminosity;
}

.menu-botram-title {
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 44px;
}

.menu-botram-container {
    display: block;
    background-color: var(--background-menu-color);
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 80px;
    width: 70%;
    padding: 0 75px;
}

.menu-botram-box {
    margin-top: -30px;
}

.menu-category {
    vertical-align: middle;
}

.menu-category-icon {
    width: 40px;
    margin-right: 15px;
    margin-top: -3px;
}

.menu-category-title {
    padding: 4px 30px;
    color: white;
    background-color: var(--main-color);
    border-radius: 50px;
    box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.2);
}

.menu-category-title h3 {
    font-weight: 400;
}

.menu-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 50px 0 50px 0;
}

.menu-item {
    /* outline: var(--main-color) solid 1px; */
}

.menu-item img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 45px;
}

.menu-item h4 {
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    margin-top: 10px;
}

.rating-review {
    padding: 8px 40px;
}

.rating-review h3 {
    text-align: left;
    font-weight: 600;
    font-size: 26px;
}

.rating-review-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 40px 0;
}

.rating-review-wrapper div {
    /* outline: var(--main-color) solid 1px; */
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    width: 65%;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.rating {
    display: block;
}

.rating .rating-form {
    margin-top: 46px;
}

#rating-comment {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

#rating-comment:focus {
    outline: none;
    box-shadow: 0 0 7px 3px var(--input-focus-color);
}

#submit-rating {
    float: right;
    margin-top: 12px;
    padding: 1px 2px !important;
    height: 40px;
    width: 100px;
}

.review {
    display: block;
}

.review div {
    /* outline: var(--main-color) solid 1px; */
}

.review .review-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-column-gap: 30px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 100px;
    padding: 7px 8px;
    background-color: var(--review-background-color);
}

.review .review-item img {
    width: 40px;
    border-radius: 100px;
    outline: var(--main-color) solid 1px;
}

.review .review-item .user-review {
    display: block;
    width: 270px;
    text-align: start;
}

.review .review-item .user-review p {
    font-size: 11px;
}

.foreground {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 220px;
    margin-top: 210px;
    /* margin-right: -20px; */
}

/* ---------------------------------------------------- */

img.hero-tentang {
    width: 100%;
}

.tentang-title {
    text-align: center;
    color: var(--main-color);
    margin-top: -200px;
    padding-top: 215px;
    padding-bottom: 200px;
    background-color: var(--secondary-color);
    background-image: url(../img/background.png);
    background-size: 138%;
    background-repeat: no-repeat;
    background-position: left 590px;
    background-blend-mode: luminosity;
}

.tentang-container {
    background-color: var(--main-color);
    /* height: 100px; */
    width: 110vh;
    margin: -4px auto 80px auto;
    color: white;
    text-align: left;
    padding: 30px 60px 60px 60px;
    border-radius: 0 0 40px 40px;
}

.tentang-container h2 {
    margin-bottom: 15px;
}

.our-location {
    /* outline: var(--text-color) solid 2px; */
    text-align: center;
    color: var(--main-color);
}

.our-location h1 {
    margin-bottom: 20px;
}

.map-our-location {
    position: relative;
    width: 600px;
    height: 450px;
    /* border-radius: 40px; */
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.open-maps {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 30px;
}

/* Revisi */

.quick-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 50px 120px;
}

.quick-menu-item {
    background-color: var(--secondary-color);
    outline: var(--text-color) solid 2px;
    border-radius: 35px;
    padding: 30px 0;
}

.quick-menu-item:hover {
    background-color: var(--background-menu-color);
    transition: 0.2s;
}

.quick-menu-item img {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.quick-menu-item p {
    font-size: 28px;
    color: var(--text-color);
}

/* ---------------------------------------------- */
/* Slider carousel */

.slide-btn {
    display: none;
}

.carousel {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.slide {
    float: left;
    height: 100%;
    width: 0;
    transition: width .3s linear;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slide>* {
    transition: transform .15s linear;
    transform: scale(0);
}

.labels {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.labels label {
    display: inline-block;
    background-color: transparent;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: .5vmin 2vmin;
    border: 1px solid white;
}

.carousel .one,
.carousel .two,
.carousel .three,
.carousel .four,
.carousel .five {
    background-position: center center;
    background-size: cover;
}

.carousel .one {
    background-image: url(https://picsum.photos/id/40/1920/540);
}

.carousel .two {
    background-image: url(https://picsum.photos/id/41/1920/540);
}

.carousel .three {
    background-image: url(https://picsum.photos/id/42/1920/540);
}

.carousel .four {
    background-image: url(https://picsum.photos/id/43/1920/540);
}

.carousel .five {
    background-image: url(https://picsum.photos/id/44/1920/540);
}

#slide-btn-1:checked~.one,
#slide-btn-2:checked~.two,
#slide-btn-3:checked~.three,
#slide-btn-4:checked~.four,
#slide-btn-5:checked~.five {
    width: 100%;
}

#slide-btn-1:checked~.one>*,
#slide-btn-2:checked~.two>*,
#slide-btn-3:checked~.three>*,
#slide-btn-4:checked~.four>*,
#slide-btn-5:checked~.five>* {
    transform: scale(1);
}

#slide-btn-1:checked~.labels label[for="slide-btn-1"],
#slide-btn-2:checked~.labels label[for="slide-btn-2"],
#slide-btn-3:checked~.labels label[for="slide-btn-3"],
#slide-btn-4:checked~.labels label[for="slide-btn-4"],
#slide-btn-5:checked~.labels label[for="slide-btn-5"] {
    background-color: white;
}

/* ------------------------------------------------ */

.container-slider {
    /* width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
    overflow: hidden;
    /* border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3); */
}

.wrapper-slider {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide {
    /* 0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    } */
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.wrapper-slider img {
    width: 100%;
}

.quick-gallery {
    /* outline: var(--text-color) solid 2px; */
    margin-bottom: 50px;
}

.home {
    background-color: var(--secondary-color);
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: luminosity;
}

.home .open-maps {
    margin: 50px 0 80px 0;
}

/* --------------------------------------- */

.image-1 { grid-area: a;}
.image-2 { grid-area: b;}
.image-3 { grid-area: c;}
.image-4 { grid-area: d;}
.image-5 { grid-area: e;}
.image-6 { grid-area: f;}
.image-7 { grid-area: g;}
.image-8 { grid-area: h;}

.gallery-container {
    /* width: 100%; */
    display: grid;
    grid-template-areas:
        'a a b'
        'c d d'
        'e f g'
        'h h h';
    gap: 4vh;
    padding: 50px 30vh;
}

.gallery-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    /* padding: 20px 0; */
}

.gallery-container>div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery {
    background-size: 240%;
    background-position: left bottom;
    padding-bottom: 80px;
}